<tr>
  <td></td>
  <td><%= payslip.employee_uid %></td>
  <td><%= payslip.employee_name %></td>
  <td><%= payslip.employee_category_name %></td>

  <% payslip.payslip_details.map do |payslip_detail| %>
    <td><%= payslip_detail.caculated_result %></td>
  <% end %>

  <td><%= link_to t(".edit"), edit_payslip_path(payslip) %></td>
</tr>
