<tr>
  <%= form_for [:admin, admin_setting] do |f| %>
    <td></td>
    <td><%= f.text_field :display_name %></td>
    <td><%= f.text_field :name %></td>
    <td><%= f.text_field :value %></td>
    <td><%= f.text_field :index %></td>
    <td>
      <%= f.submit t(".save") %>
      <%= link_to t(".delete"), [:admin, admin_setting], method: :delete %>
    </td>
  <% end %>
</tr>
