<% if user_signed_in? %>
  <div id="master-menu">
    <a class="dropdown-toggle open-select" data-toggle="dropdown" href="#">
      <i class="fa fa-bars"></i>
      <span class="fa fa-caret-down"></span>
    </a>

    <ul class="dropdown-menu pull-right filters filter-right-arow">
      <% if current_user.admin? %>
        <li><%= link_to t(".admin_settings"), admin_admin_settings_path %></li>
        <li class="divider"></li>
        <li><%= link_to t(".columns"), admin_columns_path %></li>
        <li><%= link_to t(".formulas"), admin_formulas_path %></li>
        <li class="divider"></li>
      <% end %>
    </ul>
  </div>

  <div id="main-menu">
    <ul>
      <% if current_user.admin? %>
        <li>
          <%= link_to t(".payslips"), payslips_path,
            class: ("selected" if ["payslips"].include? controller_name) %>
        </li>
        <li>
          <%= link_to t(".timesheets"), timesheets_path,
            class: ("selected" if ["timesheets"].include? controller_name) %>
        </li>
        <li>
          <%= link_to t(".salaries"), salaries_path,
            class: ("selected" if ["salaries"].include? controller_name) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
