<tr>
  <td></td>
  <td><%= salary.uid %></td>
  <td><%= salary.name %></td>
  <td><%= salary.category_name %></td>
  <td><%= salary.base_salary %></td>
  <td><%= salary.insurance %></td>
  <td><%= salary.personal_deduction %></td>
  <td><%= salary.number_of_dependence %></td>
  <td><%= link_to t(".edit"), edit_salary_path(salary) %></td>
</tr>
